#top-main{
  background-color:#fff;
}


#top-main-title{
  font-weight:bold;
  font-style:italic;
}



/*これのせいでヘッダーロゴが少し左に寄ってしまった。
/*.container{
  margin-left:67.5px;
  margin-right:67.5px;
} */



#btn-top-admin{
  font-size:14px;
  line-height:20px;
  padding-bottom:6px;
  padding-left:12px;
  padding-right:12px;
  padding-top:6px;
}


#btn-top-general{
  font-size:14px;
  line-height:20px;
  padding-bottom:6px;
  padding-left:12px;
  padding-right:12px;
  padding-top:6px;
}

