#task-name{
  font-size:18px;
}

.label-form{
  margin-top:5px;
}

.btn-form{
  margin-top:10px;
}

#btn-destroy{
  font-size:18px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  line-height:24px;
  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:16px;
  padding-right:16px;
}